html,body{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 100;
}

ul.departures{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin:0 auto;
	padding:0;
}

ul.departures li {
	display:inline-flex;
	flex-flow: row wrap;
	align-items:flex-start;
	padding-right: 15px;
}



.number.t-blue{
	background-color: #1c2f7a;
}

.number.t-red{
	background-color: #d51427;
}
.number.t-green{
	background-color: #60a42b;
}

.number.airbus,
.number.buss-red{
	background-color: #a4112c;
}
.number.buss-blue{
	background-color: #003e9a;
}

.number.buss-black{
	background-color: #313131;
}

.number.neutral{
	background-color: #a4a5a7;
}

.number.tramway{
	background-color: #a4a5a7;
}
.number.commuter{
	background-color: #a4a5a7;
}
.number.ferry{
	background-color: #a4a5a7;
}

.number{
	background-color: #a4a5a7;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	padding: 3px 7px;
	margin-right: 10px;
}
.info{
	display:inline-flex;
	flex-flow: column wrap;
}
.stop{
	font-size: .7em;
}
.direction{

}
.time{
	margin-left: 15px;
}