section{
    padding:20px;
}

section#color-scheme-container{
    background-color: rgba(65, 65, 65, 0.1);
    padding: 20px;
    overflow: hidden;
}

a#toggle-color-scheme {
    font-size: 1.2em;
    color: #666;
    text-decoration: underline;
}

a#toggle-color-scheme:hover,
a#toggle-color-scheme:focus {
    text-decoration: underline;
}

a#toggle-color-scheme:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

#colors{
    width:100%;
    float:left;
}

h1,
h2,
h3,
h4{
    color:#666;
    text-transform: uppercase;
    margin:0;
    padding:0;
}

header p{
    font-size: 1.4em;
    line-height: 1;
    padding: 5px 0;
    margin:0;
}

#colors ul
{ 
    float:left;
    width:100%;
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

#colors li{
    float: left; 
    color: #fff;
}

#colors .number{
    float:left;
    display: block;
    color: #fff;
    font-size: 1em;
    margin-right: 15px;
    padding: 7px 8px;
} 